body{
    
    font-family: 'Pangolin', cursive;
}
.bold{
    font-size: 1.5em;
    font-weight: bold;
}

.grey{
    background-color: rgb(163, 161, 161);
    box-shadow: 1px solid black;
}
.dgrey{
    background-color: rgb(133, 197, 170);
    box-shadow: 1px solid black;
}
.nav-item{
    border-top:2px solid black;
    


}
.container-fluid{
    padding: 0px;
    border: 2px solid black;
}
.navbar-toggler{
    border: 1px solid black;
    margin :5px;
}
#navbarid{
    padding: 5px ;
    
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    
  }
  .sticky + .container {
    padding-top: 100px;
  }
.main-navbar{
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    z-index: 910;
}
.bold{
    margin-left:30px;
}
/*--------------------End of navbar---------------------------*/
.mgn{
    margin: 0px 10px 20px 10px ;
    padding: 2%;
    background-color: grey;
}


.p{
    font-size: 0.6em;
}
@media(max-width:991px){
    /*Navbar Start*/
    #navbarTogglerDemo03,#tget_home{
        visibility: visible;
        text-align: center;
        
    }
    /*Navbar end*/
}